name: Deploy dekorsever

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connect to server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.REGRU_HOST }}
          username: ${{ secrets.REGRU_USER }}
          key: ${{ secrets.REGRU_KEY }}
          script: |
            #cd ~/dekorsever/public_html/wp-content/themes/dekorsever-wp
            #git pull
            
            #Если кто то изменил файлы на сервере минуя GitHub, перезаписываем версию на сервере из GitHub
            cd ~/dekorsever/public_html/wp-content/themes/dekorsever-wp
            git reset --hard HEAD
            git pull origin main